@use '../../index.scss' as colors;

button {
  font-size: 2em;
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  box-shadow: none;
  border: none;
  background-color: colors.$regularText;
  color: colors.$regularBackground;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  svg {
    fill: colors.$regularBackground;
  }

  &.active {
    background-color: colors.$activeButton;

    svg {
      fill: colors.$regularText;
    }
  }
}