@use '../../index.scss' as colors;

hr {
  width: 100%;
  border-radius: 100% 5px;
  border-color: colors.$activeButton;
}

#menuIcon,
#menuBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  margin: 15px;
  font-size: 1.5em;
  cursor: pointer;
  background-color: colors.$activeButton;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 50px;
  z-index: 999;
}

#menuBackground {
  z-index: 998;
  justify-content: flex-end;

  svg:first-child {
    margin-bottom: 0.5em;
  }

  &.opening {
    animation: openMenu .3s forwards ease-out;
  }

  &.closing {
    animation: openMenu .3s forwards reverse ease-in;
  }

  &.opened {
    height: 5.5em;
  }
}

@keyframes openMenu {
  0% {
    height: 2em;
  }

  50% {
    height: 4em;
  }

  100% {
    height: 5.5em;
  }
}