@use '../../../index.scss' as colors;

#backShadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #0a0a0a88;
  z-index: 1000;
}

#content {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 300px;
  background: colors.$regularBackground;
  border-top: 1px solid colors.$activeButton;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1001;

  #closeModal {
    cursor: pointer;
    width: 100%;
    text-align: center;
  }

}