@use '../../../index.scss' as colors;

.backShadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #0a0a0a88;
  z-index: 1000;
  animation: fadein 0.3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 300px;
  background: colors.$regularBackground;
  border-top: 1px solid colors.$activeButton;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 1001;
  animation: slidein 0.3s;

  @keyframes slidein {
    from {
      transform: translateY(+300px);
    }

    to {
      transform: none;
    }
  }

  hr {
    margin: 10px 0;
  }

  a {
    text-decoration: none;

    &:hover {
      color: colors.$activeButton;
      text-decoration: underline;

      svg {
        fill: colors.$activeButton;
      }
    }

    svg {
      font-size: 12px;
      margin-right: 5px;
    }
  }

  .copyright {
    position: absolute;
    bottom: 15px;
  }

  .closeModal {
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}