@use '../../index.scss' as colors;

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-in-out;

  &.chillBackground {
    background-color: colors.$chillingBackground;
  }

  &.shortWorkBackground {
    background-color: colors.$shortWorkBackground;
  }

  &.longWorkBackground {
    background-color: colors.$longWorkBackground;
  }
}

.pomodoro {
  padding: 5px 10px;
  background-color: colors.$glassBackground;
  border-radius: 15px;
  box-shadow: 0 4px 30px #00000001;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid colors.$glassBorder;
}