$regularBackground: #2c016d;
$glassBackground: #51d6ca99;
$glassBorder: #51d6ca;
$regularText: #e4e4e4;
$chillingBackground: #ac73ff;
$shortWorkBackground: #d7ad0d;
$longWorkBackground: #c82b28;
$blackText: #010101;
$activeButton: #5f22d9;

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#root {
  height: 100%;
}